openapi: 3.0.0
info:
  title: Employee Management API
  version: 1.0.0
  description: API for managing employee details in an organization

servers:
  - url: https://api.company.com

paths:
  /employees:
    get:
      summary: Get all employees
      tags:
        - Employees
      responses:
        '200':
          description: List of employees

    post:
      summary: Create a new employee
      tags:
        - Employees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeInput'
      responses:
        '201':
          description: Employee created successfully

  /employees/{id}:
    get:
      summary: Get employee by ID
      tags:
        - Employees
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Employee details

    put:
      summary: Update employee details
      tags:
        - Employees
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeInput'
      responses:
        '200':
          description: Employee updated

    delete:
      summary: Delete employee
      tags:
        - Employees
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Employee deleted

  /employees/search:
    get:
      summary: Search employees by department or role
      tags:
        - Employees
      parameters:
        - name: department
          in: query
          schema:
            type: string
        - name: role
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Filtered employee list

components:
  schemas:

    Employee:
      type: object
      properties:
        id:
          type: string
          example: EMP001
        firstName:
          type: string
          example: Gautam
        lastName:
          type: string
          example: Singh
        email:
          type: string
          example: gautam@company.com
        phone:
          type: string
          example: "9876543210"
        department:
          type: string
          example: IT
        role:
          type: string
          example: Cloud Engineer
        salary:
          type: number
          example: 1200000
        joiningDate:
          type: string
          format: date
          example: 2023-01-15
        status:
          type: string
          enum: [Active, Inactive]
        address:
          type: string
          example: Delhi, India

    EmployeeInput:
      type: object
      required:
        - firstName
        - email
        - department
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phone:
          type: string
        department:
          type: string
        role:
          type: string
        salary:
          type: number
        joiningDate:
          type: string
          format: date
        status:
          type: string
        address:
          type: string